apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: chrome-node
  namespace: {{ include "namespace" . }}
spec:
  serviceName: chrome-node-service
  replicas: {{ .Values.chromeNode.nodeCount }}
  selector:
    matchLabels:
      app: chrome-node
  template:
    metadata:
      labels:
        app: chrome-node
    spec:
      containers:
        - name: chrome
          image: {{ .Values.chromeNode.image }}
          imagePullPolicy: {{ .Values.chromeNode.imagePullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: 4444
          env:
            - name: SE_NODE_MAX_SESSIONS
              value: "1"
          volumeMounts:
            - name: shm
              mountPath: /dev/shm
      volumes:
        - name: shm
          emptyDir:
            medium: Memory
